*{
    font-family: 'Open Sans', sans-serif;
}

.bg-dark-gradient{
    background: linear-gradient(rgba(71, 86, 107, 0.2), rgba(32, 56, 100, 0.8));
    border-radius: 10px;
}

.bg-blue-gradient{
    background: linear-gradient(rgba(24, 85, 170, 0.4), rgba(32, 56, 100, 0.6));
    border-radius: 10px;
}

.bg-grey-gradient{
    background: linear-gradient(rgba(150, 156, 165, 0.1), rgba(48, 53, 61, 0.9));
    border-radius: 10px;
}

li{
    list-style: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

li button{
    background-color: rgb(15, 15, 31);
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 5px;
}